.catalog {
  .container();
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog__title {
  text-align: center;
  width: 100%;
  margin-bottom: 43px;
}

.catalog__flavor {
  font-size: 18px;
  color: @main-black;
}

.catalog__wrapper {
  margin-bottom: 10px;
}

.catalog__item {
  padding-top: 10px;
  display: block;
  box-sizing: border-box;
  width: 240px;
  min-height: 350px;
  cursor: pointer;
  background-color: @background-item;
  border-radius: 0 14px 14px 14px;
  position: relative;
  background-image: url("../img/cat.png");
  background-repeat: no-repeat;
  background-position: -80px 141px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.catalog__item--default {
  border: 2px solid @blue-default;

  &:before {
    content: "";
    width: 218px;
    height: 30px;
    position: absolute;
    top: -22px;
    left: 18px;
    background-color: @background-item;
    border-top-right-radius: 14px;
    z-index: 10;
    border-top: 2px solid @blue-default;
    border-right: 2px solid @blue-default;
  }

  &:after {
    content: "";
    width: 26px;
    height: 29px;
    background-color: #f2f2f2;
    position: absolute;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -16px;
    left: 6px;
    border-bottom: 2px solid @blue-default;
    z-index: 20;
  }

  &:hover {
    border: 2px solid @blue-hover;
  }

  &:hover:before {
    border-top: 2px solid @blue-hover;
    border-right: 2px solid @blue-hover;
  }

  &:hover:after {
    border-bottom: 2px solid @blue-hover;
  }

  &:hover .catalog__weight {
    background-color: @blue-hover;
  }
}

.catalog__item--default ~ .catalog__order-text--default {
  display: block;
}

.catalog__item--selected {
  border: 2px solid @pink-selected;

  &:before {
    content: "";
    width: 92%;
    height: 30px;
    position: absolute;
    top: -23px;
    left: 19px;
    background-color: @background-item;
    border-top-right-radius: 14px;
    z-index: 10;
    border-top: 2px solid @pink-selected;
    border-right: 2px solid @pink-selected;
  }

  &:after {
    content: "";
    width: 29px;
    height: 30px;
    background-color: @background-item;
    position: absolute;
    transform: rotate(135deg);
    top: -17px;
    left: 5px;
    z-index: 20;
    border-bottom: 2px solid @pink-selected;
  }

  .catalog__weight {
    background-color: @pink-selected;
  }
}

.catalog__item--selected ~ .catalog__order-text--selected {
  display: block;
}

.catalog__item--hover {
  border: 2px solid @pink-hover;

  &:before {
    content: "";
    width: 92%;
    height: 30px;
    position: absolute;
    top: -23px;
    left: 19px;
    background-color: @background-item;
    border-top-right-radius: 5px;
    z-index: 10;
    border-top: 2px solid @pink-hover;
    border-right: 2px solid @pink-hover;
  }

  &:after {
    content: "";
    width: 29px;
    height: 30px;
    background-color: @background-item;
    position: absolute;
    transform: rotate(135deg);
    top: -17px;
    left: 5px;
    z-index: 20;
    border-bottom: 2px solid @pink-hover;
  }

  .catalog__weight {
    background-color: @pink-hover;
  }
}
.catalog__motto--active {
  display: block;
}

.catalog__motto--hover {
  display: none;
}

.catalog__item--hover .catalog__motto--hover {
  display: block;
}

.catalog__item--hover .catalog__motto--active {
  display: none;
}

.catalog__item--hover ~ .catalog__order-text--selected {
  display: block;
}

.catalog__item--disabled {
  pointer-events: none;
  background-image: url("../img/cat-op.png");
  border: 2px solid @grey-disabled;

  &:before {
    content: "";
    width: 92%;
    height: 30px;
    position: absolute;
    top: -23px;
    left: 19px;
    background-color: @background-item;
    border-top-right-radius: 14px;
    z-index: 10;
    border-top: 2px solid @grey-disabled;
    border-right: 2px solid @grey-disabled;
  }

  &:after {
    content: "";
    width: 29px;
    height: 30px;
    background-color: @background-item;
    position: absolute;
    transform: rotate(135deg);
    top: -17px;
    left: 5px;
    z-index: 20;
    border-bottom: 2px solid @grey-disabled;
  }

  .catalog__weight {
    background-color: @grey-disabled;
  }

  .catalog__flavor,
  .catalog__item-title,
  .catalog__text {
    color: @text-disabled;
  }
}

.catalog__item--disabled ~ .catalog__order-text--disabled {
  display: block;
}

.catalog__item--disabled ~ .catalog__order-text--default {
  display: none;
}

.catalog__weight {
  padding: 20px 10px 15px;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 10px;
  bottom: 10px;
  background-color: @blue-default;
  border-radius: 50%;
}

.catalog__text {
  margin-left: 24px;
}

.catalog__motto {
  font-size: 14px;
  top: -14px;
  position: absolute;
  z-index: 100;

  &--hover {
    color: @pink-hover;
  }
}

.catalog__description {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.catalog__bonus,
.catalog__servings {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;

  span {
    font-weight: bold;
  }
}

.catalog__weight-text {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
  color: @title-color;

  span {
    font-size: 15px;
  }
}

.catalog__order-text {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 2;
  color: @title-color;
  text-align: center;

  &--default {
    display: none;
  }

  &--selected {
    display: none;
  }

  &--disabled {
    color: @yellow-disabled;
    display: none;
  }
}

.catalog__order-link {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: @blue-default;
  text-decoration: none;
  line-height: 14px;
  padding-left: 0;
  overflow: hidden;
  border: none;
  background: none;
}

.catalog__order-link::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 1px;
  bottom: 0;
  left: 7px;
  border-bottom: 1px dashed @blue-default;
}
@media @tablet-widths {
  .catalog {
    .container();
  }

  .catalog__text {
    margin-left: 42px;
  }

  .catalog__motto {
    font-size: 16px;
    top: -29px;
    left: 46px;
  }

  .catalog__item-title {
    top: -12px;
  }

  .catalog__flavor {
    font-size: 24px;
    margin-top: -13px;
    margin-left: 2px;
    letter-spacing: 0.5px;
  }

  .catalog__description {
    margin-top: 17px;

    li {
      font-size: 14px;
      line-height: 15px;
      margin-left: 2px;
    }
  }

  .catalog__order-text {
    font-size: 13px;
    padding-top: 11px;
  }

  .catalog__item {
    width: 320px;
    min-height: 437px;
    background-position: -27px 161px;
  }

  .catalog__order-link::after {
    width: 29px;
    bottom: 0;
    left: 1px;
  }

  .catalog__wrapper {
    margin-right: 45px;
    margin-top: 37px;
  }

  .catalog__weight {
    width: 80px;
    height: 80px;
    right: 9px;
    bottom: 9px;
    text-align: center;
  }

  .catalog__weight-text {
    font-size: 42px;
    line-height: 22px;
    span {
      font-size: 21px;
      line-height: 22px;
      display: block;
      padding-top: 8px;
    }
  }

  .catalog__wrapper:nth-child(3) {
    margin-right: 0;
  }

  .catalog__item--default {
    border: 4px solid @blue-default;

    &:before {
      content: "";
      width: 271px;
      height: 53px;
      position: absolute;
      top: -46px;
      left: 41px;
      background-color: @background-item;
      border-top-right-radius: 10px;
      z-index: 40;
      border-top: 4px solid @blue-default;
      border-right: 4px solid @blue-default;
    }

    &:after {
      content: "";
      width: 62px;
      height: 48px;
      background-color: @background-item;
      position: absolute;
      transform: rotate(135deg);
      top: -34px;
      left: 6px;
      z-index: 20;
      border-bottom: 5px solid @blue-default;
      border-bottom-left-radius: 5px;
    }

    &:hover {
      border: 4px solid @blue-hover;
    }

    &:hover:before {
      border-top: 4px solid @blue-hover;
      border-right: 4px solid @blue-hover;
    }

    &:hover:after {
      border-bottom: 5px solid @blue-hover;
    }

    &:hover .catalog__weight {
      background-color: @blue-hover;
    }
  }

  .catalog__item--selected {
    border: 4px solid @pink-selected;

    &:before {
      content: "";
      width: 271px;
      height: 53px;
      position: absolute;
      top: -46px;
      left: 41px;
      background-color: @background-item;
      border-top-right-radius: 10px;
      z-index: 40;
      border-top: 4px solid @pink-selected;
      border-right: 4px solid @pink-selected;
    }

    &:after {
      content: "";
      width: 62px;
      height: 48px;
      background-color: @background-item;
      position: absolute;
      transform: rotate(135deg);
      top: -34px;
      left: 6px;
      z-index: 20;
      border-bottom: 5px solid @pink-selected;
      border-bottom-left-radius: 5px;
    }
  }

  .catalog__item--hover {
    border: 4px solid @pink-hover;

    &:before {
      content: "";
      width: 271px;
      height: 53px;
      position: absolute;
      top: -46px;
      left: 41px;
      background-color: @background-item;
      border-top-right-radius: 10px;
      z-index: 40;
      border-top: 4px solid @pink-hover;
      border-right: 4px solid @pink-hover;
    }

    &:after {
      content: "";
      width: 62px;
      height: 48px;
      background-color: @background-item;
      position: absolute;
      transform: rotate(135deg);
      top: -34px;
      left: 6px;
      z-index: 20;
      border-bottom: 5px solid @pink-hover;
      border-bottom-left-radius: 5px;
    }
  }

  .catalog__item--disabled {
    border: 4px solid @grey-disabled;

    &:before {
      content: "";
      width: 271px;
      height: 53px;
      position: absolute;
      top: -46px;
      left: 41px;
      background-color: @background-item;
      border-top-right-radius: 10px;
      z-index: 40;
      border-top: 4px solid @grey-disabled;
      border-right: 4px solid @grey-disabled;
    }

    &:after {
      content: "";
      width: 62px;
      height: 48px;
      background-color: @background-item;
      position: absolute;
      transform: rotate(135deg);
      top: -34px;
      left: 6px;
      z-index: 20;
      border-bottom: 5px solid @grey-disabled;
      border-bottom-left-radius: 5px;
    }

    .catalog__weight {
      background-color: @grey-disabled;
    }

    .catalog__flavor,
    .catalog__item-title,
    .catalog__text {
      color: @text-disabled;
    }
  }
}

@media @desktop-widths {
  .catalog {
    justify-content: space-between;
  }

  .catalog__wrapper {
    margin: 0;
  }
 }
