.catalog
{
    display: flex;

    margin-top: 20px;

    .container();
    justify-content: center;
    flex-wrap: wrap;
}

.catalog__title
{
    width: 100%;
    margin: 0;
    padding-bottom: 40px;

    text-align: center;
}

.catalog__item
{
    display: flex;

    width: 240px;
    height: 380px;
    margin-bottom: 50px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__item--default
{
    &:hover .catalog__weight
    {
        background-color: @blue-hover;
    }
}

.catalog__item--default .catalog__order-text--default
{
    display: block;
}

.catalog__item--selected
{
    .catalog__weight
    {
        background-color: @pink-selected;
    }
}

.catalog__item--selected .catalog__order-text--selected
{
    display: block;
}

.catalog__item--hover
{
    .catalog__weight
    {
        background-color: @pink-hover;
    }
}

.catalog__item--hover .catalog__order-text--selected
{
    display: block;
}

.catalog__item--disabled
{
    .catalog__weight
    {
        background-color: @grey-disabled;
    }

    .catalog__weight:hover
    {
        background-color: @grey-disabled;
    }
}

.catalog__item--disabled .catalog__order-text--disabled
{
    display: block;
}

.catalog__item--disabled .catalog__order-text--default
{
    display: none;
}

.catalog__weight
{
    position: absolute;
    right: 11px;
    bottom: 11px;

    width: 70px;
    height: 70px;
    padding: 20px 10px 15px;

    text-align: center;

    border-radius: 50%;
    background-color: @blue-default;
}

.catalog__weight-text
{
    font-size: 30px;
    line-height: 20px;

    display: inline-block;

    vertical-align: top;

    color: @title-color;

    span
    {
        font-size: 15px;

        display: block;

        padding-top: 2px;
    }
}

.catalog__order-text
{
    font-size: 11px;
    line-height: 14px;

    width: 230px;
    min-height: 40px;
    padding-top: 10px;

    text-align: center;
    letter-spacing: 2;

    color: @title-color;

    &--default
    {
        display: none;
    }

    &--selected
    {
        display: none;
    }

    &--disabled
    {
        display: none;

        color: @yellow-disabled;
    }
}

.catalog__order-link
{
    font-weight: bold;
    line-height: 14px;

    position: relative;

    overflow: hidden;

    padding-left: 0;

    text-decoration: none;

    color: @blue-default;
    border: none;
    background: none;
}

.catalog__order-link::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 24px;
    height: 1px;

    content: '';

    border-bottom: 1px dashed @blue-default;
}
@media @tablet-widths
{
    .catalog__title
    {
        padding-bottom: 23px;
    }

    .catalog__order-text
    {
        font-size: 13px;

        width: 320px;
        padding-top: 15px;
        padding-left: 2px;
    }

    .catalog__order-link::after
    {
        width: 30px;
    }

    .catalog__weight
    {
        width: 80px;
        height: 80px;

        text-align: center;
    }

    .catalog__weight-text
    {
        font-size: 42px;
        line-height: 22px;

        span
        {
            font-size: 21px;
            line-height: 22px;

            padding-top: 7px;
        }
    }

    .catalog__item
    {
        width: 320px;
        height: 440px;
        margin-top: 50px;
        margin-right: 45px;
        margin-bottom: 60px;
    }

    .catalog__item:nth-child(3)
    {
        margin-right: 0;
    }

    .catalog__item--default
    {
        &:hover .catalog__weight
        {
            background-color: @blue-hover;
        }
    }
}
@media @desktop-widths
{
    .catalog
    {
        justify-content: space-between;
    }

    .catalog__item
    {
        margin-right: 0;
    }
}
