.main
{
    display: flex;

    width: 100%;
    margin: auto;
    padding-top: 26px;
    padding-bottom: 0px;

    justify-content: center;
    align-items: center;
}

.main__container
{
    .container();
}

.main__title
{
    text-align: center;
}
