.main {
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  .container();
}

.main__title {
  text-align: center;
}
